---
apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
mirror:
  operators:
    - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ ocp_release }}
      packages:
        - name: odh-rhel9-operator
          channels:
            - name: stable
        - name: odh-kserve-controller-rhel9
          channels:
            - name: stable        
        - name: odh-model-controller-rhel9
          channels:
            - name: stable
  additionalImages: {}
